table {
}

tr {
  vertical-align: top;
}

span.h3 {
  font-family: ;
}

button {
  height: 3em;
  color: white;
  background-color: blue;
  border-radius: 12px;
  border: 0px;
}

input {
  height: 3em;
  color: grey;
  border-radius: 12px;
  border-color: grey;
  border: 1px solid;
}

.space-bottom-medium {
  margin-bottom: 1em;
}

.earthquake-data {
  border: 1px solid;
  border-radius: 12px;
  padding: .25em; 
  padding-left: .75em;
}

.main {
  width: 100%;
}

.earthquakes {
  width: 30%;
  float: left;
}

.map {
  width: 100%;
  height: 100%;
}

.map-fixed {
  float: left;
  margin-left: .25em;
  border: 1px solid;
  /*border-radius: 12px;*/
  width: 61em;
  height: 100%;
}

div.actions {
  width: 30%;
  padding: .25em; 
}

.buttons-container {
  margin-bottom: .25em;
}

.eq-selected {
  background-color: lightgrey;
}
































