body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

table {
}

tr {
  vertical-align: top;
}

span.h3 {
  font-family: ;
}

button {
  height: 3em;
  color: white;
  background-color: blue;
  border-radius: 12px;
  border: 0px;
}

form {
  margin-bottom: 0px;
}
.space-bottom-medium {
  margin-bottom: 1em;
}

.earthquake-data {
  border: 1px solid;
  border-radius: 12px;
  padding: .25em; 
  padding-left: .75em;
}

.main {
  width: 100%;
}

.earthquakes {
  width: 30%;
  float: left;
}

.map {
  width: 100%;
  height: 100%;
}

.map-fixed {
  height: 100%;
  width: 61em;
  top: 0px;
  left: 435.188px;
  position: fixed;
  float: left;
  margin-left: .25em;
  margin-top: 0.5em;
  border: 1px solid;
  /*border-radius: 12px;*/
}

div.actions {
  width: 30%;
}

.buttons-container {
  margin-bottom: .25em;
}

.eq-selected {
  background-color: lightgrey;
}


.bottom-m {
  margin-bottom: 0.5em;
}

.errors {
  border-radius: 12px;
  border: 2px solid;
  border-color: red;
  padding: 0.25em;
  background-color: lightred;
}

input[type="text"] {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: none;
  -moz-border-radius: none;
  -ms-border-radius: none;
  -o-border-radius: none;
  border-radius: none;
  text-align: right;
}
input[type="text"]:focus {
  outline: none;
}

.text-input input[type="text"] {
  padding: 10px;
  border: solid 1px gainsboro;
  -webkit-transition: box-shadow 0.3s, border 0.3s;
  -moz-transition: box-shadow 0.3s, border 0.3s;
  -o-transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
}
.text-input input[type="text"]:focus, .text-input input[type="text"].focus {
  border: solid 1px #707070;
  -webkit-box-shadow: 0 0 5px 1px #969696;
  -moz-box-shadow: 0 0 5px 1px #969696;
  box-shadow: 0 0 5px 1px #969696;
}

.searchField {
  width: 100%;
  text-align: left;
}
