body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

h4, p {
  margin: 0px;
  margin-bottom: .25em;
}

tr {
  vertical-align: top;
}

.main {
  width: 100%;
}

.bottom-m {
  margin-bottom: 0.5em;
}
