<div class="error-container bottom-m">
  <ul class="errors-list">
  </ul>
</div>
<div class="parameters-container bottom-m">
  <form id="query">
    <div class="bottom-m">
      <label>
        Start
        <input id="startDate" type="text" class="startDate text-input" size="10" maxLength="10" placeholder="dd-mm-yyyy"/>
      </label>
      <label>
        End
        <input type="text" class="endDate date" size="10" maxLength="10" placeholder="dd-mm-yyyy"/>
      </label>
    </div>
    <div class="bottom-m">
    <label>
      Longitude min
      <input type="text" class="minLongitude text-input" size="4" maxLength="4"/>
    </label>
    <label>
      max
      <input type="text" class="maxLongitude" size="4" maxLength="4" /><br>
    </label>
    </div>
    <div class="bottom-m">
    <label>
      Latitude min
      <input type="text" class="minlatitude" size="3" maxLength="3"/>
    </label>
    <label>
      max
      <input type="text" class="maxLatitude" size="3" maxLength="3" />
    </label>
    </div>
    <button class="getData">Get data</button>
  </form>
</div>
<div class="buttons-container">
  <button class="showAllMarkers">Show all</button>
  <button class="hideAllMarkers">Hide all</button>
  <button class="reset">Reset</button>
</div>
<div class="search-container">
  <input type="text" class="searchField" placeholder="search"/>
</div>
