<div class="parameters-container">
  <form id="query">
    Longitude min <input class="minLongitude" size="4" maxLength="4"/> max <input class="maxLongitude" size="4" maxLength="4" />
    Latitude min <input class="minlatitude" size="3" maxLength="3"/> max <input class="maxLatitude" size="3" maxLength="3" />
    <br>
    Start <input class="startDate" placeholder="dd-mm-yyyy"/>
    End <input class="endDate" placeholder="dd-mm-yyyy or empty"/>
    <button class="getData">Go</button>
  </form>
</div>
<div class="buttons-container">
  <button class="showAllMarkers">Show all</button>
  <button class="hideAllMarkers">Hide all</button>
  <button class="reset">Reset</button>
</div>
<div class="search-container">
  <input type="text" size="60" class="searchField" placeholder="search"/>
</div>
