<div class="parameters-container">
  Start <input class="startDate" placeholder="dd-mm-yyyy"/>
  End <input class="endDate" placeholder="dd-mm-yyyy or empty"/>
  <button class="getData">Go</button>
</div>
<div class="buttons-container">
  <button class="showAllMarkers">Show all</button>
  <button class="hideAllMarkers">Hide all</button>
  <button class="reset">Reset</button>
</div>
<div class="search-container">
  <input type="text" size="60" class="searchField" placeholder="search"/>
</div>
